/* Simple reset */

html {
	box-sizing: border-box;
}

*,*::before,*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	font: inherit;
}

img,
svg {
	display: block;
	max-width: 100%;
}

ul,ol {
	list-style: none;
}

a {
	color: inherit;
}

/* Global styling */

:root {
	/* COLORS */
	--clr-primary-400: hsla(215, 30%, 68%, 1); /* #96A9C6 */
	--clr-primary-900: hsla(256, 26%, 20%, 1); /* #2D2641 */

	--clr-neutral-100: hsla(0, 0%, 100%, 1); /* #FFFFFF */
	--clr-neutral-200: hsla(0, 0%, 98%, 1); /* #FAFAFA */
	--clr-neutral-250: hsla(0, 0%, 86%, 1); /* #DADADA */
	--clr-neutral-400: hsla(271, 5%, 51%, 1); /* #837D88 */
	--clr-neutral-900: hsla(271, 9%, 17%, 1); /* #2C2830 */

	/* TYPOGRAPHY */
	--ff-primary: 'Karla', sans-serif;
	--ff-secondary: 'DM Serif Display', serif;

	--fw-regular: 400;
	--fw-bold: 700;

	--fs-heading-xl: 4.5rem; /* 72px */
	--fs-heading-xl--mobile: 3rem; /* 48px */
	--fs-heading-l: 3.5rem; /* 56px */
	--fs-heading-l--mobile: 2.5rem; /* 40px */
	--fs-heading-m: 1.75rem; /* 28px */
	--fs-body: 1rem; /* 16px */
	--fs-header: 0.8125rem; /* 13px */
	--fs-header--mobile: 1.25rem; /* 20px */
	--fs-footer: 0.8125rem; /* 13px */
	--fs-btn: 0.8125rem; /* 13px */
}

body {
	display: flex;
	flex-direction: column;

	min-height: 100vh;
}

header,
footer {
	flex-shrink: 0;
}

main {
	flex-grow: 1;
}

/* Typography */

body {
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	font-weight: var(--fw-regular);

	color: var(--clr-neutral-400);
}

.heading {
	font-family: var(--ff-secondary);
	font-weight: var(--fw-regular);
}

.heading-xl {
	font-size: var(--fs-heading-xl--mobile);
	line-height: 0.8;
	letter-spacing: -1px;
}

.heading-l {
	font-size: var(--fs-heading-l--mobile);
	line-height: 1;
	letter-spacing: -0.778px;
}

.heading-m {
	font-size: var(--fs-heading-m);
	letter-spacing: -0.389px;
}

@media (min-width: 75em) {
	.heading-xl {
		font-size: var(--fs-heading-xl);
	}

	.heading-l {
		font-size: var(--fs-heading-l);
	}
}

/* Utility */

.container {
	--spacing: 1.5em;
	--max-width: 69.375em;

	width: min(100%, calc(var(--max-width)));
	margin-inline: auto;
	padding-inline: var(--spacing);
}

@media (min-width: 48em) {
	.container {
		--spacing: 2.5em; /* 40px */
	}
}

@media (min-width: 74.375em) {
	.container {
		--spacing: 0;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.txt-upper {
	text-transform: uppercase;
}

.bg-primary-900 {
	background-color: var(--clr-primary-900);
}

.bg-neutral-200 {
	background-color: var(--clr-neutral-200);
}

.txt-primary-900 {
	color: var(--clr-primary-900);
}

.txt-neutral-100 {
	color: var(--clr-neutral-100);
}

/* Buttons */

.btn {
	background: none;
	border: none;
	outline: transparent;

	display: inline-flex;
	width: fit-content;
	padding: 0.75rem 1.5rem;

	font-size: var(--fs-btn);
	font-weight: var(--fw-bold);
	letter-spacing: 1.5px;
	text-transform: uppercase;

	cursor: pointer;
}

.btn--primary {
	background-color: transparent;
	border: 1px solid var(--btn-color, var(--clr-neutral-900, black));
	color: var(--btn-color, var(--clr-neutral-900, black));
}

.btn--primary:hover,
.btn--primary:focus-visible {
	background-color: var(--btn-color, var(--clr-neutral-900, black));
	color: var(--btn-color-hover, var(--clr-neutral-100, white));
}

.btn--primary.dark {
	--btn-color: var(--clr-neutral-100);
	--btn-color-hover: var(--clr-neutral-900);
}
.btn--primary.light {
	--btn-color: var(--clr-neutral-900);
	--btn-color-hover: var(--clr-neutral-100);
}

/* Header */

/* Footer */

.footer {
	padding-block: 5.25rem; /* 88px */

	background-image: url('/public/images/bg-pattern-footer-mobile.svg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% 10.8125rem; /* 173px */
}

.footer .container > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	margin-bottom: 2.5rem;
	padding-bottom: 2.5rem;
	border-bottom: 1px solid var(--clr-neutral-250);
}

.footer .social-links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.footer .social-links__item svg path,
.footer .social-links__item svg path {
	transition: fill 300ms ease-in-out;
}

.footer .social-links__item:hover svg path,
.footer .social-links__item:focus svg path {
	fill: var(--clr-neutral-900);
}

.footer-nav {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2.5rem; /* 40px */

	font-size: var(--fs-footer);
	font-weight: var(--fw-bold);
	letter-spacing: 1.5px;
}

.footer .footer-nav__group {
	text-align: center;
}

.footer-nav__group-title {
	margin-bottom: 2.25rem; /* 36px */
}

.footer-nav__list {
	display: grid;
	gap: 1rem;
}

.footer-nav__list a {
	text-decoration: underline transparent;
	transition: text-decoration 300ms ease-in;
}

.footer-nav__list li:hover a,
.footer-nav__list li:focus a {
	text-decoration-color: inherit;
}

@media (min-width: 48em) {
	.footer {
		padding-block: 4rem; /* 64px */

		background-image: url('/public/images/bg-pattern-footer-desktop.svg');
		background-repeat: no-repeat;
		background-position: top left;
		background-size: initial; /* 173px */
	}

	.footer .container > div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		margin-bottom: 3rem;
		padding-bottom: 2.25rem;
	}

	.footer-nav {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 2rem;
	}

	.footer .footer-nav__group {
		text-align: initial;
	}
}

/* Hero section */

/* Features section */

/* Call to action */