/* Simple reset */

html {
	box-sizing: border-box;
}

*,*::before,*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	font: inherit;
}

img,
svg {
	display: block;
	max-width: 100%;
}

ul,ol {
	list-style: none;
}

a {
	color: inherit;
}

/* Global styling */

:root {
	/* COLORS */
	--clr-primary-400: hsla(215, 30%, 68%, 1); /* #96A9C6 */
	--clr-primary-900: hsla(256, 26%, 20%, 1); /* #2D2641 */

	--clr-neutral-100: hsla(0, 0%, 100%, 1); /* #FFFFFF */
	--clr-neutral-200: hsla(0, 0%, 98%, 1); /* #FAFAFA */
	--clr-neutral-250: hsla(0, 0%, 86%, 1); /* #DADADA */
	--clr-neutral-400: hsla(271, 5%, 51%, 1); /* #837D88 */
	--clr-neutral-900: hsla(271, 9%, 17%, 1); /* #2C2830 */

	--clr-accent-400: hsla(296, 30%, 68%, 1); /* #C396C6 */

	/* TYPOGRAPHY */
	--ff-primary: 'Karla', sans-serif;
	--ff-secondary: 'DM Serif Display', serif;

	--fw-regular: 400;
	--fw-bold: 700;

	--fs-heading-xl: 4.5rem; /* 72px */
	--fs-heading-xl--mobile: 3rem; /* 48px */
	--fs-heading-l: 3.5rem; /* 56px */
	--fs-heading-l--mobile: 2.5rem; /* 40px */
	--fs-heading-m: 1.75rem; /* 28px */
	--fs-body: 1rem; /* 16px */
	--fs-header: 0.8125rem; /* 13px */
	--fs-header--mobile: 1.25rem; /* 20px */
	--fs-footer: 0.8125rem; /* 13px */
	--fs-btn: 0.8125rem; /* 13px */
}

body {
	display: flex;
	flex-direction: column;

	min-height: 100vh;
}

header,
footer {
	flex-shrink: 0;
}

main {
	flex-grow: 1;
}

/* Typography */

body {
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	font-weight: var(--fw-regular);
	line-height: 1.625;

	color: var(--clr-neutral-400);
}

.heading {
	font-family: var(--ff-secondary);
	font-weight: var(--fw-regular);
}

.heading-xl {
	font-size: var(--fs-heading-xl--mobile);
	line-height: 1;
	letter-spacing: -1px;
}

.heading-l {
	font-size: var(--fs-heading-l--mobile);
	line-height: 1;
	letter-spacing: -0.778px;
}

.heading-m {
	font-size: var(--fs-heading-m);
	letter-spacing: -0.389px;
}

@media (min-width: 75em) {
	.heading-xl {
		font-size: var(--fs-heading-xl);
		line-height: 0.8;
	}

	.heading-l {
		font-size: var(--fs-heading-l);
	}
}

/* Utility */

.container {
	--spacing: 1.5em;
	--max-width: 69.375em;

	width: min(100%, calc(var(--max-width)));
	margin-inline: auto;
	padding-inline: var(--spacing);
}

@media (min-width: 48em) {
	.container {
		--spacing: 2.5em; /* 40px */
	}
}

@media (min-width: 74.375em) {
	.container {
		--spacing: 0;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.txt-upper {
	text-transform: uppercase;
}

.bg-primary-900 {
	background-color: var(--clr-primary-900);
}

.bg-neutral-200 {
	background-color: var(--clr-neutral-200);
}

.txt-primary-900 {
	color: var(--clr-primary-900);
}

.txt-neutral-100 {
	color: var(--clr-neutral-100);
}
.txt-neutral-900 {
	color: var(--clr-neutral-900);
}

/* Buttons */

.btn {
	background: none;
	border: none;
	outline: transparent;
	text-decoration: none;

	display: inline-flex;
	width: fit-content;
	padding: 0.75rem 1.5rem;

	font-size: var(--fs-btn);
	font-weight: var(--fw-bold);
	letter-spacing: 1.5px;
	text-transform: uppercase;

	transition: all 300ms ease-in-out;

	cursor: pointer;
}

.btn--primary {
	background-color: transparent;
	border: 1px solid var(--btn-color, var(--clr-neutral-900, black));
	color: var(--btn-color, var(--clr-neutral-900, black));
}

.btn--primary:hover,
.btn--primary:focus-visible {
	background-color: var(--btn-color, var(--clr-neutral-900, black));
	color: var(--btn-color-hover, var(--clr-neutral-100, white));
}

.btn--primary.dark {
	--btn-color: var(--clr-neutral-100);
	--btn-color-hover: var(--clr-neutral-900);
}
.btn--primary.light {
	--btn-color: var(--clr-neutral-900);
	--btn-color-hover: var(--clr-neutral-100);
}

/* Header */

.header {
	padding-block: 1.25rem;
}

.header > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .menu-toggle {
	display: none;
}

.header__content {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.header__nav-list {
	display: flex;
	align-items: center;
	gap: 1.625rem;
}

.header__nav-list a {
	text-decoration: none;

	font-size: var(--fs-header);
	font-weight: var(--fw-regular);
	letter-spacing: 1.5px;

	transition: all 300ms ease-in-out;
}

.header__nav-list li:hover a,
.header__nav-list li:focus a {
	font-weight: var(--fw-bold);
	color: var(--clr-neutral-900);
}

.header__cta-btn {
	font-size: var(--fs-header);
}

/* Footer */

.footer {
	padding-block: 5.25rem; /* 88px */

	background-image: url('/images/bg-pattern-footer-mobile.svg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% 10.8125rem; /* 100% 173px */
}

.footer .container > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	margin-bottom: 2.5rem;
	padding-bottom: 2.5rem;
	border-bottom: 1px solid var(--clr-neutral-250);
}

.footer .social-links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.footer .social-links__item svg path,
.footer .social-links__item svg path {
	transition: fill 300ms ease-in-out;
}

.footer .social-links__item:hover svg path,
.footer .social-links__item:focus svg path {
	fill: var(--clr-neutral-900);
}

.footer-nav {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2.5rem; /* 40px */

	font-size: var(--fs-footer);
	font-weight: var(--fw-bold);
	letter-spacing: 1.5px;
}

.footer .footer-nav__group {
	text-align: center;
}

.footer-nav__group-title {
	margin-bottom: 2.25rem; /* 36px */
}

.footer-nav__list {
	display: grid;
	gap: 1rem;
}

.footer-nav__list a {
	text-decoration: underline transparent;
	transition: text-decoration 300ms ease-in;
}

.footer-nav__list li:hover a,
.footer-nav__list li:focus a {
	text-decoration-color: inherit;
}

@media (min-width: 48em) {
	.footer {
		padding-block: 4rem; /* 64px */

		background-image: url('/images/bg-pattern-footer-desktop.svg');
		background-repeat: no-repeat;
		background-position: top left;
		background-size: initial; /* 173px */
	}

	.footer .container > div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		margin-bottom: 3rem;
		padding-bottom: 2.25rem;
	}

	.footer-nav {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 2rem;
	}

	.footer .footer-nav__group {
		text-align: initial;
	}
}

/* Hero section */

.hero__image {
	max-height: 28.125rem; /* 450px */
}

.hero__image img {
	width: 100%;
	height: 100%;
	max-height: 28.125rem; /* 450px */

	object-fit: cover;
	object-position: center;
}

.hero__content {
	padding: 5.8125rem 1.5rem; /* 93px 24px */

	text-align: center;

	position: relative;
}

.hero__title {
	margin-bottom: 1rem;
}

.hero__btn {
	margin-top: 2rem;
}

@media (max-width: calc(48em - 0.0625em)) {
	.hero__content {
		background-image: url('/images/bg-pattern-intro-left-mobile.svg');
		background-repeat: no-repeat;
		background-position: top left;

		position: relative;
	}

	.hero__content::after {
		content: "";
		position: absolute;
		bottom: -35%;
		right: 0;

		background-image: url('/images/bg-pattern-intro-right-mobile.svg');
		background-repeat: no-repeat;
		background-position: bottom right;
		background-size: contain;

		width: 7.75rem; /* 124px */
		height: 20.625rem; /* 330px */
	}
}

@media (min-width: 48em) {
	.hero {
		position: relative;
	}

	.hero::before {
		content: "";
		position: absolute;
		bottom: -50%;
		left: 0;

		background-image: url('/images/bg-pattern-intro-left-desktop.svg');
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: contain;

		width: 195px;
		height: 504px;
	}

	.hero::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;

		background-image: url('/images/bg-pattern-intro-right-desktop.svg');
		background-repeat: no-repeat;
		background-position: top right;
		background-size: contain;

		width: 436px;
		height: 593px;
	}

	.hero > div {
		max-width: 69.375em;
		margin-inline: auto;
		padding-inline: 2.5rem;
		padding-block: 105px 127px;

		position: relative;
	}

	.hero__image {
		position: absolute;
		right: 40px;

		width: calc(50% - 56px);
		height: 100%;
		max-height: 40.625rem; /* 650px */
		margin-left: auto;
	}

	.hero__image img {
		height: 100%;
		max-height: 40.625rem; /* 650px */
	}

	.hero__content {
		width: 50%;
		padding: 0 16px 0 0;

		text-align: initial;
	}

	.hero__title {
		padding-top: 4rem;

		position: relative;
	}

	.hero__title::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;

		background-color: var(--clr-neutral-100);
		width: 9.375rem;
		height: 1px;
	}

	.hero__btn {
		margin-top: 1.5rem;
	}
}

@media (min-width: 75em) {
	.hero {
		margin-bottom: 19.0625rem;
	}

	.hero__image {
		height: 40.625rem; /* 650px */
	}

	.hero__image img {
		height: 40.625rem; /* 650px */
	}

	.hero > div {
		padding-inline: 0;
	}
}

/* Features section */

.features {
	margin-block: 8.75rem; /* 140px */
}

.features__title {
	margin-bottom: 5rem;
	padding-top: 2.5rem;

	text-align: center;

	position: relative;
}

.features__title::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);

	background-color: var(--clr-accent-400);
	width: 9.375rem;
	height: 1px;
}

.features__list {
	display: grid;
	gap: 3.5rem; /* 56px */
}

.features__item {
	text-align: center;
}

.features__item-icon {
	width: fit-content;
	margin-inline: auto;
	margin-bottom: 2rem;
}

.features__item-title {
	margin-bottom: 1rem;
}

@media (min-width: 48em) and (max-width: calc(75em - 0.0625em)) {
	.features__item {
		display: grid;
		grid-template-columns: 5.375rem 1fr;
		grid-template-rows: auto 1fr;
		gap: 0 2rem;
	}

	.features__item-icon {
		grid-column: 1 / 2;
		grid-row: span 2;
	}
	.features__item-title {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
	.features__item-text {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}
}

@media (min-width: 48em) {
	.features__title {
		margin-bottom: 6rem;
		padding-top: 4rem;

		text-align: initial;
	}

	.features__title::before {
		left: 0;
		transform: none;
	}

	.features__item {
		text-align: initial;
	}

	.features__item-icon {
		margin-inline: initial;
	}
}

@media (min-width: 75em) {
	.features {
		margin-block: 10rem; /* 160px */
	}

	.features__list {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Call to action */

.call-to-action {
	margin-bottom: 8.75rem;
}

.call-to-action > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.5rem;

	background-image: url('/images/bg-pattern-how-we-work-mobile.svg');
	background-repeat: no-repeat;
	background-position: top right;

	padding: 4.5rem 1.5rem;

	text-align: center;
}

.call-to-action__title {
	display: flex;
	flex-direction: column;
}

.call-to-action__btn {
	flex-shrink: 0;
}

@media (min-width: 48em) {
	.call-to-action {
		margin-bottom: 9.375rem;
	}

	.call-to-action > div {
		flex-direction: row;
		justify-content: space-between;

		background-image: url('/images/bg-pattern-how-we-work-desktop.svg');
		background-position: right center;

		padding: 4.3125rem 5rem;

		text-align: initial;
	}
}