/* Simple reset */

html {
	box-sizing: border-box;
}

*,*::before,*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	font: initial;
}

img,
svg {
	display: block;
	max-width: 100%;
}

ul,ol {
	list-style: none;
}

/* Global styling */

:root {
	/* COLORS */
	--clr-primary-400: hsla(215, 30%, 68%, 1); /* #96A9C6 */
	--clr-primary-900: hsla(256, 26%, 20%, 1); /* #2D2641 */

	--clr-neutral-100: hsla(0, 0%, 98%, 1); /* #FAFAFA */
	--clr-neutral-400: hsla(271, 5%, 51%, 1); /* #837D88 */
	--clr-neutral-900: hsla(271, 9%, 17%, 1); /* #2C2830 */

	/* TYPOGRAPHY */
	--ff-primary: 'Karla', sans-serif;
	--ff-secondary: 'DM Serif Display', serif;

	--fw-regular: 400;
	--fw-bold: 700;

	--fs-heading-xl: 4.5rem; /* 72px */
	--fs-heading-xl--mobile: 3rem; /* 48px */
	--fs-heading-l: 3.5rem; /* 56px */
	--fs-heading-l--mobile: 2.5rem; /* 40px */
	--fs-heading-m: 1.75rem; /* 28px */
	--fs-body: 1rem; /* 16px */
	--fs-header: 0.8125rem; /* 13px */
	--fs-header--mobile: 1.25rem; /* 20px */
	--fs-footer: 0.8125rem; /* 13px */
	--fs-btn: 0.8125rem; /* 13px */
}

body {
	display: flex;
	flex-direction: column;

	min-height: 100vh;
}

header,
footer {
	flex-shrink: 0;
}

main {
	flex-grow: 1;
}

/* Typography */

body {
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	font-weight: var(--fw-regular);

	color: var(--clr-neutral-400);
}

.heading {
	font-family: var(--ff-secondary);
	font-weight: var(--fw-regular);
}

.heading-xl {
	font-size: var(--fs-heading-xl--mobile);
	line-height: 0.8;
	letter-spacing: -1px;
}

.heading-l {
	font-size: var(--fs-heading-l--mobile);
	line-height: 1;
	letter-spacing: -0.778px;
}

.heading-m {
	font-size: var(--fs-heading-m);
	letter-spacing: -0.389px;
}

@media (min-width: 75em) {
	.heading-xl {
		font-size: var(--fs-heading-xl);
	}

	.heading-l {
		font-size: var(--fs-heading-l);
	}
}

/* Utility */

.container {
	--spacing: 1.5rem;
	--max-width: 90em;

	width: min(100%, var(--max-width));
	margin-inline: auto;
	padding-inline: var(--spacing);
}

@media (min-width: 48em) {
	.container {
		--spacing: 40px;
	}
}

@media (min-width: 75em) {
	.container {
		--spacing: 165px;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.bg-neutral-100 {
	background-color: var(--clr-neutral-100);
}

/* Buttons */

.btn {
	background: none;
	border: none;
	outline: transparent;

	display: inline-flex;
	width: fit-content;
	padding: 0.75rem 1.5rem;

	font-size: var(--fs-btn);
	font-weight: var(--fw-bold);
	letter-spacing: 1.5px;
	text-transform: uppercase;

	cursor: pointer;
}

.btn--primary {
	background-color: transparent;
	border: 1px solid var(--btn-color, var(--clr-neutral-900, black));
	color: var(--btn-color, var(--clr-neutral-900, black));
}

.btn--primary:hover,
.btn--primary:focus-visible {
	background-color: var(--btn-color, var(--clr-neutral-900, black));
	color: var(--btn-color-hover, var(--clr-neutral-100, white));
}

.btn--primary.dark {
	--btn-color: var(--clr-neutral-100);
	--btn-color-hover: var(--clr-neutral-900);
}
.btn--primary.light {
	--btn-color: var(--clr-neutral-900);
	--btn-color-hover: var(--clr-neutral-100);
}

